<h1><%= @blogger.name %></h1>
<h2>Age: <%= @blogger.age %></h2>
<h3>Bio:</h3>
<p><%= @blogger.bio %></p>
<h3>Total Likes: <%= @blogger.total_likes %></h3>
<h3>Featured Post: <%= link_to @blogger.featured_post.title, post_path(@blogger.featured_post) %></h3>
<button><%= link_to "Back", bloggers_path %></button>