<h2>Edit a post</h2>
<div>
    <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |m| %>
            <div><%= m %></div>
        <% end %>
    <% end %>
</div>
<div>
    <%= form_for @post do |f| %>
        <label>Select a Blogger</label>
        <div><%= f.collection_select :blogger_id, @bloggers, :id, :name %></div>
        <label>Select a Destination</label>
        <div><%= f.collection_select :destination_id, @destinations, :id, :name %></div>
        <div>
            <%= f.label :title %><br>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :content %><br>
            <%= f.text_area :content %>
        </div>
        <div><%= f.submit %></div>
    <% end %>
</div>